/* Coolors Exported Palette - coolors.co/d33f49-18314f-0d1321-ffeddf-efe6dd */

/* HSL */
$cred: hsla(356%, 63%, 54%, 1);
$clblue: hsla(213%, 53%, 20%, 1);
$cdblue: hsla(222%, 43%, 9%, 1);
$cdwhite: hsla(26%, 100%, 94%, 1);
$clwhite: hsla(30%, 36%, 90%, 1);

/* RGB */
$cred: rgba(211, 63, 73, 1);
$clbue: rgba(24, 49, 79, 1);
$cdblue: rgba(13, 19, 33, 1);
$cdwhite: rgba(255, 237, 223, 1);
$clwhite: rgba(239, 230, 221, 1);

/* Coolors Exported Palette - coolors.co/2f6690-3a7ca5-d9dcd6-16425b-81c3d7 */

/* HSL */
$color1: hsla(206%, 51%, 37%, 1);
$color2: hsla(203%, 48%, 44%, 1);
$color3: hsla(90%, 8%, 85%, 1);
$color4: hsla(202%, 61%, 22%, 1);
$color5: hsla(194%, 52%, 67%, 1);

/* RGB */
$color1: rgba(47, 102, 144, 1);
$color2: rgba(58, 124, 165, 1);
$color3: rgba(217, 220, 214, 1);
$color4: rgba(22, 66, 91, 1);
$color5: rgba(129, 195, 215, 1);

/*#1e237f, #0075c2*/