<nav class="navbar navbar-expand-md py-2">
    <div class="container">
        <a class="navbar-brand ml-2 mx-auto" href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.BaseURL}}images/logo.png" width="60" height="50" alt="" style="display:inline;">
            <span>&nbsp;上海晶耀光电</span>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse pt-3" id="navbarsExample04">
            <ul class="navbar-nav ml-auto">
                {{range .Site.Menus.main}}
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="{{.URL}}">{{ .Name }}</a>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</nav>