{{ define "main" }}
{{ partial "hero_image_header.html" .}}
<div class="container">
    <div class="row pt-4 mt-4">
        <div class="col mx-auto text-center">
            <h1 class="pb-4 mb-4 border-bottom">
                产品中心
            </h1>
        </div>
    </div>
    {{ $products := where (where .Site.RegularPages "Type" "products") ".Params.featured" true}}
    {{if gt (len $products) 0}}
    <div class="row mt-1 ">
        {{ range first 3 (sort $products ".Params.weight") }}
        <div class="col-lg-4">
            {{.Render "summary"}}
        </div>
        {{ end }}
    </div>
    {{end}}
    <div class="row pt-2 mt-2">
        <div class="col mx-auto text-center">
            <h1 class="pb-4 mb-4 border-bottom">
                走进晶耀
            </h1>
        </div>
    </div>
    <div class="row pt-2 mt-2">
        <div class="col-md-8">
            <h3>公司简介</h3>
            <div class="row">
                <div class="col">
                    <p>
                        上海晶耀光电科技有限公司是中国汽车工业进出口有限公司投资控股的子公司成立于 2007年。是专业生产车用LED车灯模块、LED车用产品的高新技术企业。公司凭借
                        IATF16949:2016质量管理体系，先后开发生产了LED汽车日间行车灯、LED远近光一体大灯 模组、LED单远光、LED单近光组合透镜模组、转向灯、刹车灯、牌照灯、尾灯组合灯、仪
                        表灯、内饰氛围灯等LED车灯系列产品。为国内汽车、摩托车主机厂提供优质配套服务。
                    </p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="img-fluid" alt="公司厂房" src="images/intro1.png" style="width:100%; height: 100%;" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3>
                荣誉资质
            </h3>
            <img class="img-fluid mx-auto d-block" alt="荣誉证书" src="images/cert2.png" style="width:80%; height: auto;" />
        </div>
    </div>
    <div class="row pt-2 mt-2">
        <div class="col mx-auto text-center">
            <h1 class="pb-4 mb-4 border-bottom">
                合作伙伴
            </h1>
        </div>
    </div>
    <div class="row pt-2 mt-2">
        <div class="col-12 mx-auto">
            <!--Carousel Wrapper-->
            <div id="partnersCarousel" class="carousel slide" data-ride="carousel">

                <!--Controls-->
                <a id="partners-carousel-control-prev" class="carousel-control-prev" href="#partnersCarousel"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a id="partners-carousel-control-next" class="carousel-control-next" href="#partnersCarousel"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->

                <!--Slides-->
                <div id="partner-inner" class="carousel-inner mx-auto d-block">

                    <!--First slide-->
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <img class="img-fluid" src="images/partner1.png" alt="Card image cap">
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <img class="img-fluid" src="images/partner2.png" alt="Card image cap">
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <img class="img-fluid" src="images/partner3.png" alt="Card image cap">
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <img class="img-fluid" src="images/partner4.png" alt="Card image cap">
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.First slide-->

                    <!--Second slide-->
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <img class="img-fluid" src="images/partner5.png" alt="Card image cap">
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <img class="img-fluid" src="images/partner1.png" alt="Card image cap">
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <img class="img-fluid" src="images/partner2.png" alt="Card image cap">
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <img class="img-fluid" src="images/partner3.png" alt="Card image cap">
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.Second slide-->

                </div>
                <!--/.Slides-->

            </div>
            <!--/.Carousel Wrapper-->
        </div>
    </div>
</div>


{{ end }}